#section_home {
	height: 100vh;
	display: block;
}

#section_about,
#section_projects,
#section_contact {
	height: 100%;
	display: block;
}

/* Landing Page*/
#section_home {
	background-attachment: fixed;
	background-size: auto;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('../images/banner.jpg');
	width: 100%;
}

#section_home .intro {
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Scroll Down */
#scroll_down {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 80%;
}

#scroll_down a {
	text-decoration: none;
	font-weight: 900;
	color: whitesmoke;
	text-shadow: 4px 4px 1px #343a40;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	margin: 0 auto;
	padding: 60px 0 0 0;
}

#scroll_down a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 3px solid whitesmoke;
	border-bottom: 3px solid whitesmoke;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: next_section 2s infinite;
	animation: next_section 2s infinite;
}

@-webkit-keyframes next_section {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		-webkit-transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
}
@keyframes next_section {
	0% {
		transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		transform: rotate(-45deg) translate(0, 0);
	}
}

/* About Page */
#span_title {
	height: 2px;
}

#about_header {
	margin-top: 70px;
}

/* Terminal Window */
#terminal {
	min-height: 350px;
	max-width: 100%;
	margin: 0 auto;
	transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	border-radius: 3px;
	background: #1d1f21;
	box-shadow: 0px 13px 17px -6px rgba(0, 0, 0, 0.38);
}

.terminal-window {
	text-align: left;
	border-radius: 4px;
	font-size: 14px;
}

.terminal-bar {
	background: rgba(225, 225, 225, 0.75);

	height: 35px;
	line-height: 36px;
	padding-left: 4px;
	padding-top: 1px;
}

.terminal-bar .circle {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	display: inline-block;
	border: 1px solid;
}

.terminal-bar .circle.circle-red {
	background: #ff0040;
	border-color: #d73031;
	margin: 0 2px;
}

.terminal-bar .circle.circle-orange {
	background: #ffcf00;
	border-color: #d7911e;
	margin: 0 2px;
}

.terminal-bar .circle.circle-green {
	background: #00e567;
	border-color: #23a124;
	margin: 0 2px;
}

.terminal-body {
	padding: 8px;
	color: #fff;
	line-height: 25px;
	font-family: monospace, Quicksand, sans-serif;
}

.command {
	color: #fff;
}

.cursor {
	-webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	-ms-animation: 1s blink step-end infinite;
	-o-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
}

@keyframes blink {
	from,
	to {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

@-moz-keyframes blink {
	from,
	to {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

@-webkit-keyframes blink {
	from,
	to {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

@-ms-keyframes blink {
	from,
	to {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

@-o-keyframes blink {
	from,
	to {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

/* Icons */
#title_icons {
	width: 100%;
	margin: 0;
	padding: 0;
	opacity: 0;
}

.hr_subtitle_icons {
	width: 25%;
	height: 2px;
}
.icons {
	cursor: pointer;
	opacity: 1;
	width: 100px;
	height: 120px;
}

.icons p {
	display: none;
}

.icons img:hover,
.fas:hover,
.fab:hover {
	filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg)
		brightness(95%) contrast(80%);
}

/* Portfolio */
.card {
	height: 300px;
	cursor: pointer;
}
.card-img-top {
	position: absolute;
	height: 100%;
	object-fit: cover;
}

.card-img-top:hover {
	opacity: 0.1;
	transition: 0.5s opacity;
}

.modal-footer a {
	color: black;
	cursor: pointer;
}

.modal-footer a:hover {
	filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg)
		brightness(95%) contrast(80%);
}

/* Contact */
.form-control {
	border: 0;
}

#section_contact input {
	height: 50px;
}
/* Media Queries */
@media (min-width: 100px) and (max-width: 767px) {
	#section_about,
	#section_projects,
	#section_contact,
	footer {
		height: 100%;
	}

	#section_home {
		background-attachment: scroll;
		background-size: auto;
		background-position: bottom;
		background-repeat: no-repeat;
		background-image: url('../images/banner.jpg');
	}
}
